body {
  align-items: center;
  background: lightblue;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.container {
  background: #fff;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr 2fr;
  position: relative;
  width: 100%;
  min-height: 1000px;
  margin: 50px;
  max-width: 1000px;
}